<title>@ViewData["Title"] = "Dashboard"</title>
<h1>Dashboard</h1>

<button class="btn btn-primary" onclick="HasPendingPackages()">HasPendingPackages</button>
<button class="btn btn-primary" onclick="NextPendingPackage()">NextPendingPackage</button>
<button class="btn btn-primary" onclick="AllPackages()">AllPackages</button>

<div id="jResultContainer">


</div>